@import "flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
  --text: #0f172a;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

button,
input,
textarea,
select {
  font: inherit;
}

.task-high
{
  background: antiquewhite;
  color: orangered;
  font-weight: bold;
}

.task-medium
{
  background: yellow;
  color: orange;
  font-weight: bold;
}

.task-low
{
  background: aqua;
  color: aliceblue;
  font-weight: bold;

}

.task-mrg{
 padding: 4px;
}